.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 370px;
  height: 550px;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: whitesmoke;
}

body {
    background-image: url("https://images.unsplash.com/photo-1495878330842-2ed73e5155bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
  }

.title {
  color: grey;
  font-size: 18px;
}

img{
    border-radius: 15px;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  margin-bottom: 10px;
}

button:hover, a:hover {
  opacity: 0.7;
}